
.navbar-container{
    margin-top: 0px;
    background-color:#222;
}
ul{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    z-index: 1;
    color: white;
    font-size: 23px;
}
li{
    list-style-type: none;
}

.logo{
    background-image: url("Applogo.png");
    background-size: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    border: 2px solid black;
    border-radius: 50%;
    padding-top: 0px;
}

